<div ng-include="'components/navbar/navbar.html'"></div>

<div>
    <form name="productForm" 
          sf-schema="schema" 
          sf-form="form" 
          sf-model="model"

          ng-submit="onSubmit(productForm)"> 
        <div class="row">
            <div class="col-md-6">
                <div sf-insert-field="['sku']"></div>
            </div>
            <div class="col-md-6">
                <div sf-insert-field="['name']"></div>
            </div>
            <div class="col-md-6">
                <div sf-insert-field="['description']"></div>
            </div>
            <div class="col-md-6">
                <div sf-insert-field="['price']"></div>
            </div>  

        </div>
    </form>
    <div>
        <button type="submit" id="submit" class="btn btn-primary" ng-click="onSubmit(productForm)">{{submitButton}}</button>
        <button type="button" id="cancel" class="btn btn-info" ng-click="cancel()">{{secondButton}}</button>
    </div>
    
</div>


